@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap");

:root {
    --primary-color: #f9b23c;
    --primary-color-dark: #f49a20;
    --text-dark: #333333;
    --text-light: #767268;
    --extra-light: #ffffff;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    padding-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--extra-light);
    font-family: "Roboto", sans-serif;
    background-image: url('Desktop2Test.jpg');
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    transition: background-color 0.3s ease;
}

body:hover {
    background-color: rgba(0,0,0,0.4);
}

.container {
    max-width: 400px;
    padding: 2rem;
    margin: auto;
    display: grid;
    color: var(--text-dark);
    transition: transform 0.3s ease;
}

.footer {
    position: fixed;
    bottom: 70px;
    left: 300px;
}

.footer button {
    padding: 1rem;
    outline: none;
    border: none;
    border-radius: 10px;
    color: var(--extra-light);
    font-size: 1rem;
    font-weight: 600;
    background-color: var(--primary-color);
    cursor: pointer;
    transition: 0.3s;
    min-width: 150px;
}

.footer button:hover {
    background-color: var(--primary-color-dark);
}


@media (min-width: 640px) {
    .container {
        max-width: 1200px;
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
    }

    .footer {
        max-width: 300px;
        left: 50%;
    }
    .footer button {
        min-width: 120px;
        font-size: 0.9rem;
        padding: 0.8rem;
}

@media (min-width: 1024px) {
    .container {
        column-gap: 5rem;
    }

    .footer button {
        font-size: 1.2rem;
    }
}
